---
import { getCollection, getEntry } from 'astro:content';
import { Form } from '../components/Form';
import Layout from '../layouts/Layout.astro';

const entry = await getEntry('index', 'index');
const skills = await getCollection('skills');
const workExperiences = await getCollection('workExperience');
const { Content, headings } = await entry.render();

export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <main>
    <Form client:visible />
    <Content />

    <h2>Skills</h2>
    <ul>
      {
        skills.map((skill) => (
          <li>
            <a href={`/${skill.slug}`}>
              <img
                class="w-36"
                transition:name={skill.data.title}
                src={'/' + skill.data.previewImgUrl}
                alt="ALT"
              />
              <h2 transition:name={skill.data.title + '_title'}>
                {skill.data.title}
              </h2>
            </a>
          </li>
        ))
      }
    </ul>

    <h2>Work Experiences</h2>
    <ul>
      {
        workExperiences.map((workExperience) => (
          <li>
            <a href={`/work-experience/${workExperience.slug}`}>
              <img
                class="w-36"
                transition:name={workExperience.data.title}
                src={'/' + workExperience.data.previewImgUrl}
                alt="ALT"
              />
              <h2 transition:name={workExperience.data.title + '_title'}>
                {workExperience.data.title}
              </h2>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
