---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import portrait from '../assets/portrait.png';
import linkedin from '../assets/socials/LI-In-Bug.png';
import github from '../assets/socials/github-mark.png';
import xing from '../assets/socials/xing-icon.svg';

const { data } = await getEntry('sidebar', 'index');
---

<aside
  class="bg-cyan-200 w-80 shrink-0 relative z-10 border-r-4 border-black p-6 flex flex-col"
  transition:name="layout_no-counter-part"
>
  <div>
    <div class="flex justify-center mb-8">
      <div class="inline-grid">
        <div
          class="col-start-1 row-start-1 rounded-full overflow-hidden aspect-square w-52 relative bg-orange-300 border-black border-4 ring-inset ring-[6px] ring-white"
        >
          <div
            class="absolute inset-0 bg-white img scale-110 origin-bottom"
            style=`--url: url(${portrait.src});`
          >
          </div>
          <Image
            class="object-cover origin-bottom w-full h-full relative scale-110"
            src={portrait}
            width={208}
            height={208}
            quality="max"
            alt="Sacha Rodier"
          />
        </div>
      </div>
    </div>
    <h2 class="text-4xl font-medium mb-4">{data.name}</h2>
    <div class="text-gray-800 font-light gap-3 grid">
      <p>{data.title}</p>
      <hr class="w-10 border-t-2 border-gray-600" />
      <p>{data.description}</p>
      <hr class="w-10 border-t-2 border-gray-600" />
      <p>Web developer from {data.contact.city}, {data.contact.country}</p>
    </div>
  </div>

  <div class="mt-auto flex gap-4 items-center p-4 bg-cyan-100 rounded-2xl">
    <a href={data.contact.github} target="_blank">
      <span class="sr-only">Link to my Github</span>
      <Image src={github} width={40} height={40} alt="Github" />
    </a>
    <a href={data.contact.linkedin} target="_blank">
      <span class="sr-only">Link to my LinkedIn</span>
      <Image src={linkedin} width={40} height={40} alt="LinkedIn" />
    </a>
    <a href={data.contact.xing} target="_blank">
      <span class="sr-only">Link to my xing</span>
      <Image src={xing} width={40} height={40} alt="xing" />
    </a>
  </div>
</aside>

<style>
  .img {
    --offset-x: -6px;
    --offset-y: -2px;
    mask-image: var(--url);
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: var(--offset-x) var(--offset-y);
    -webkit-mask-position: var(--offset-x) var(--offset-y);
  }
</style>
