---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { getImage } from '../utils/image-map';

const { data } = await getEntry('sidebar', 'index');
---

<aside
  class="bg-red-300 w-96 shrink-0 relative z-10 border-r-4 border-black"
  transition:name="layout_no-counter-part"
>
  <div class="flex justify-center">
    <div class="inline-grid">
      <div
        class="col-start-1 row-start-1 rounded-full border-black border-4 translate-x-1 translate-y-1"
      >
      </div>
      <div
        class="col-start-1 row-start-1 rounded-full overflow-hidden aspect-square w-52 relative bg-yellow-500 border-black border-4"
      >
        <div
          class="absolute inset-0 bg-white img scale-110 origin-bottom"
          style=`--url: url(${getImage(data.imgUrl).src});`
        >
        </div>
        <Image
          class="object-cover origin-bottom w-full h-full relative scale-110"
          src={getImage(data.imgUrl)}
          alt="Sacha Rodier"
          width={208}
          height={208}
        />
      </div>
    </div>
  </div>
  <p>{data.name}</p>
  <p>{data.title}</p>
  <p>{data.description}</p>
  <p>{data.contact.city}</p>
  <p>{data.contact.country}</p>
  <p>{data.contact.xing}</p>
  <p>{data.contact.github}</p>
</aside>

<style>
  .img {
    --offset-x: -6px;
    --offset-y: -2px;
    mask-image: var(--url);
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: var(--offset-x) var(--offset-y);
    -webkit-mask-position: var(--offset-x) var(--offset-y);
  }
</style>
